.App {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Header input {
  width: 50px;
  height: 15px;
  border-radius: 20px;
  border: 1px solid #d1d;
}

.Header h1 {
  font-size: 20px;
  color: rgb(90, 177, 148);
}

.Box {
  padding: 30px;
  background: #fff;
  width: 500px;
}

.Box h2 {
  font-size: 12px;
  color: #635f5f;
  text-align: left;
  line-height: 24px;
}