
html [data-theme =light] {
  --bg: #c7cff5;  
  --bg-panel: #ebebeb;
  --color-title: #0077ff;
  --color-content: #333333;
}

html [data-theme=dark] {
  --bg: #333333;  
  --bg-panel: #434343;
  --color-title: #3694ff;
  --color-content: #b5b5b5;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Montserrat','Ubuntu', 'Cantarell', 
    'Fira Sans','Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
}
